<div class="grid-x container-full grid-padding-y align-center-middle text-center header">
    <div class="cell small-12 headWelcome">
        <h1 class="text-center headWelcome" id="greeting"> Welcome, {{user.name}} </h1>
        <h2 class="headWelcomeDate"><small id="headDateTime"></small></h2>

    </div>
    <div class="cell small-12">
        <div class="grid-x container-full grid-padding-y align-middle align-justify subHeader">
            <div class="cell small-6 medium-2 text-left">
                <button type="button" class="button large headerBtn" id="userNavBtn" data-toggle="offCanvasNavL"><i
                        class="fas fa-ellipsis-v fa-2x"></i></button>
            </div>
            <h2 class="pageTitle">{{title}}</h2>
            <div class="cell small-6 medium-2 text-right">
                <button type="button" class="button large headerBtn" id="settingsBtn"
                    data-toggle="offCanvasSettingsR"><i class="fas fa-cog fa-2x"></i></button>
            </div>
           
        </div>
    </div>
</div>