<form id="settingsForm" name="settings">
    <div class="grid-x">
        <div class="cell">
            <p class="h4">Timer Settings</p>
        </div>
        <div class="cell hide" id="saveErrorMsg">
            <div class="callout alert" data-closable>
                <h5>Error: Save Unsuccessful</h5>
                <p>The attempt to save your settings was unsuccessful. Please try again.</p>
                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        <div class="cell small-12 setgMenuCell">
            <label class="setgMenuLabel">Work Timer
                <input type="number" name="workTime" aria-describedby="workTimerHelpText" min="10" max="90"
                    value="{{settings.workTime}}">
            </label>
            <p class="help-text" id="workTimerHelpText">Choose a duration for your work timer in minutes. Minimum 10
                minutes, maximum 90 minutes.</p>
        </div>
        <div class="cell small-12 setgMenuCell">
            <label class="setgMenuLabel">Rest Timer
                <input type="number" name="breakTime" aria-describedby="restTimerHelpText" min="5" max="30"
                    value="{{settings.breakTime}}">
            </label>
            <p class="help-text" id="restTimerHelpText">Choose a duration for your rest timer in minutes. Minimum 5
                minutes, maximum 30 minutes.</p>
        </div>
        <div class="cell small-12 setgMenuCell slider-container">
            <label class="setgMenuLabel" for="volSlider">Volume
                <div class="slider" data-slider data-initial-start="50" data-end="100" id="volSlider">
                    <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
                    <span class="slider-fill secondary" data-slider-fill></span>
                    <input name="volume" type="hidden" id="volSliderInput" value="{{settings.volume}}">
                </div>
            </label>
        </div>
        <div class="small-12 cell">
            <fieldset class="fieldset">
                <legend class="fieldsetLabel">Choose Your Alarm Sound</legend>
                <div class="grid-x">
                    <div class="cell small-3">
                        <input type="radio" name="alarm" value="air_raid" id="alarmOne" required>
                        <label class="alarmLbl" for="alarmOne"> Air Raid </label>
                    </div>
                    <div class="cell small-3">
                        <input type="radio" name="alarm" value="spaceship" id="alarmTwo">
                        <label class="alarmLbl" for="alarmTwo"> Spaceship </label>
                    </div>
                    <div class="cell small-3">
                        <input type="radio" name="alarm" value="explosionalarm" id="alarmThree">
                        <label class="alarmLbl" for="alarmThree"> Oops... </label>
                    </div>
                    <div class="cell small-3">
                        <input type="radio" name="alarm" value="boathorn" id="alarmFour">
                        <label class="alarmLbl" for="alarmFour"> Boat Horn </label>
                    </div>
                    <div class="cell small-3">
                        <input type="radio" name="alarm" value="rooster" id="alarmSix">
                        <label class="alarmLbl" for="alarmSix"> Sunrise </label>
                    </div>
                    <div class="cell small-3">
                        <input type="radio" name="alarm" value="monastary" id="alarmEight">
                        <label class="alarmLbl" for="alarmEight"> Monastary </label>
                    </div>
                    <div class="cell small-3">
                        <input type="radio" name="alarm" value="birdsong" id="alarmNine">
                        <label class="alarmLbl" for="alarmNine"> Birdsong </label>
                    </div>
                    {{!-- <input type="radio" name="alarm" value="thunderstorm" id="alarmFive"><label for="alarmFive">Stormy</label> --}}
                    {{!-- <input type="radio" name="alarm" value="handbell" id="alarmSeven"><label for="alarmSeven">Bell</label> --}}
                </div>
            </fieldset>
        </div>

        <div class="cell setgMenuCell">
            <button class="button large primary" type="button" id="saveSettingsBtn">Save Settings</button>
        </div>

    </div>
</form>