<div class="grid-x">
  <div class="cell small-12">
    <div class="switch large">
      <input class="switch-input" id="workOrRest" type="checkbox" name="workRestSwitch">
      <label class="switch-paddle" for="workOrRest">
        <span class="show-for-sr">Select work with active or rest with inactive</span>
        <span class="switch-active" aria-hidden="true" id="switchWork">Work</span>
        <span class="switch-inactive" aria-hidden="true" id="switchRest">Rest</span>
      </label>
    </div>
  </div>
  {{!-- <div class="cell small-12" >
    <div class="timer-group">
      <div class="timer hour">
    <div class="hand"><span></span></div>
    <div class="hand"><span></span></div>
  </div> 
      <div class="timer minute">
        <div class="hand"><span></span></div>
        <div class="hand"><span></span></div>
      </div>
      <div class="timer second">
        <div class="hand"><span></span></div>
        <div class="hand"><span></span></div>
      </div>
      <div class="face">
        <h2>Work Timer</h2>
        <p id="timeDisplay">00:00</p>
      </div>
    </div>
  </div> --}}

  <div class="cell small-12" id="timerCell">
    <div class="container timer-group">
      <div class="setters">
        <div class="minutes-set">
          <button data-setter="minutes-plus">+</button>
          <button data-setter="minutes-minus">-</button>
        </div>
        <div class="seconds-set">
          <button data-setter="seconds-plus">+</button>
          <button data-setter="seconds-minus">-</button>
        </div>
      </div>
      <div class="circle">
        <svg width="300" viewBox="0 0 250 250" xmlns="http://www.w3.org/2000/svg">
          <g transform="translate(120,120)">
            <circle r="110" class="e-c-base face minutes" />
            <circle r="100" class="e-c-base face seconds" />
            <g transform="rotate(-90)">
              <circle r="110" class="e-c-progress hand minutes" />
              <g id="e-pointer">
                <circle cx="110" cy="0" r="4" class="e-c-pointer" />
              </g>
            </g>
            <g transform="rotate(-90)">
              <circle r="100" class="e-c-progress hand seconds" />
              <g id="e-pointer">
                <circle cx="100" cy="0" r="4" class="e-c-pointer" />
              </g>
            </g>
          </g>
        </svg> </div>
      <div class="controlls">
        <div class="display-remain-time">00:30</div>
        <button class="play" id="pause"></button>
      </div>
    </div>
  </div>

  <div class="cell small-12">
    <div class="grid-x align-center-middle">
      <div class="cell small-12">
        <div class="large button-group align-center btnGroupTimer">
          <button type="button" class="alert button large timerCtrl" id="resetTimerBtn" data-tooltip tabindex="1"
            title="Click here to clear and reset the timer." data-position="top" data-alignment="left"><i
              class="fas fa-undo fa-2x"></i></button>
          <button type="button" class="success button large timerCtrl" id="startTimerBtn" data-tooltip tabindex="1"
            title="Starts the timer." data-position="bottom" data-alignment="left"><i
              class="fas fa-play fa-2x"></i></button>
          <button type="button" class="primary button large timerCtrl" id="pauseTimerBtn" data-tooltip tabindex="1"
            title="Pause your timer in the event of interuptions." data-position="bottom" data-alignment="right"><i
              class="fas fa-pause fa-2x"></i></button>
        </div>
      </div>
    </div>
  </div>

</div>