<div class="grid-x container-full grid-padding-y align-center-middle text-center header">
    <div class="cell small-12 welcome">
        <h1 class="text-center headWelcome"> Welcome to TaskTimer! </h1> 
    </div>
    <div class="cell small-12">
        <div class="grid-x container-full grid-padding-y align-center subHeader">
           <h2 class="h3 regWelcome">Please create an account:</h2>
        </div>
    </div>
</div>