<div class="grid-x">
    <div class="cell">
        <div class="input-group">
            <span class="input-group-label">Title</span>
            <input class="input-group-field" type="text" name="taskTitle" id="taskTitleInput">
        </div>
    </div>
    <div class="cell">
        <div class="input-group">
            <span class="input-group-label">Description</span>
            <input class="input-group-field" type="text" name="taskDescr" id="taskDescrInput">
        </div>
    </div>
    <div class="cell">
        <fieldset class="fieldset" id="taskPriorityFieldset">
            <legend>Choose a Priority Level</legend>
            <input id="priorityLvlVyLow" type="radio" name="priorityLvl" value="veryLow"><label
                for="priorityLvlVyLow">Very Low</label>
            <input id="priorityLvlLow" type="radio" name="priorityLvl" value="low"><label
                for="priorityLvlLow">Low</label>
            <input id="priorityLvlMed" type="radio" name="priorityLvl" value="medium"><label
                for="priorityLvlMed">Medium</label>
            <input id="priorityLvlHigh" type="radio" name="priorityLvl" value="high"><label
                for="priorityLvlHigh">High</label>
            <input id="priorityLvlUrg" type="radio" name="priorityLvl" value="urgent"><label
                for="priorityLvlUrg">Urgent</label>
        </fieldset>
    </div>
    <div class="cell">
        <button class="button large" id="createTaskBtn">Create</button>
    </div>
</div>