<div class="grid-x container-full">
    <div class="cell small-12">
        <h1>Task Timer</h1>
        <div>Date and Time</div>
    </div>
    <div class="cell small-12">
        <button type="button" class="button" data-toggle="offCanvasNavL">Nav</button>
        <button type="button" class="button" data-toggle="offCanvasSettingsR">Settings</button>
    </div>

</div>