<div class="grid-x container-full grid-padding-y align-center-middle text-center">
    <div class="cell small-1">
        <div>Logo</div>
    </div>
    <div class="cell small-11">
        <h3 class="text-center">  Welcome, User McUsername!  <small>Wednesday, September 30  12:39 AM</small></h3>
    </div>
    <div class="cell small-12">
        <div class="grid-x container-full grid-padding-y align-justify">
            <div class="cell small-6 medium-2">
                <button type="button" class="button large expanded" data-toggle="offCanvasNavL">Nav</button>
            </div>
            <div class="cell small-6 medium-2">
                <button type="button" class="button large expanded" data-toggle="offCanvasSettingsR">Settings</button>
            </div>
        </div>

    </div>

</div>