<div class="grid-x container-full align-center-middle text-center" id="currentTaskGrid">
    <div class="cell small-12">
        <div class="card" style="width: 100%;">
            <div class="card-section">
                <h4 class="text-center">Current Task:</h4>
            </div>
            <div class="card-divider text-center">
                <h5 style="text-align: center; width: 100%;">Pet Fuzzy Kitties</h5>
            </div>
        </div>
    </div>
   
    <div class="cell small-12">
         <hr>
        <div class="grid-x container-full align-center-middle text-center" id="pendingTasksGrid">
            <div class="cell small-12">
                <h2>Pending Tasks</h2>
            </div>
            <div class="cell tasksBtnsCell">
                <button class="button large">Task Management</button>
                <button class="button large">Create Tasks</button>
            </div>
            <div class="cell small-12">
                <div class="card" style="width: 100%;">
                    <div class="card-divider">
                        <h5 class="text-center" id="taskTitle">Title: Existential Crisis No. 407</h5>
                    </div>
                    <div class="card-section">
                        <p id="taskStartDate">Date Entered: 06/15/2019</p>
                    </div>
                    <div class="card-section">
                        <p id="taskDesc">Contemplate the futility of contemplation</p>
                    </div>
                    <div class="card-section">
                        <button class="button large" id="setTaskActive">Set As Active</button>
                        <button class="button large" id="markTaskCompl">Mark Complete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cell">
        <!-- link/button to different page? just a section of this pg? searchable?-->
        completed tasks
    </div>
</div>