<div class="grid-x">
    <div class="cell">
        <div class="input-group">
            <span class="input-group-label">Title</span>
            <input class="input-group-field" type="text" name="taskTitle" id="taskTitleInput">
        </div>
    </div>
    <div class="cell">
        <div class="input-group">
            <span class="input-group-label">Description</span>
            <input class="input-group-field" type="text" name="taskDescr" id="taskDescrInput">
        </div>
    </div>
    <div class="cell">
        <fieldset class="fieldset" id="taskPriorityFieldset">
            <legend>Choose a Priority Level</legend>
            <input id="priLvlVyLow" type="radio" name="priorityLvl" value="veryLowPri"><label
                for="priLvlVyLow">Very Low</label>
            <input id="priLvlLow" type="radio" name="priorityLvl" value="lowPri"><label
                for="priLvlLow">Low</label>
            <input id="priLvlMed" type="radio" name="priorityLvl" value="mediumPri"><label
                for="priLvlMed">Medium</label>
            <input id="priLvlHigh" type="radio" name="priorityLvl" value="highPri"><label
                for="priLvlHigh">High</label>
            <input id="priLvlUrg" type="radio" name="priorityLvl" value="urgentPri"><label
                for="priLvlUrg">Urgent</label>
        </fieldset>
    </div>
    <div class="cell">
        <button class="button large" id="createTaskBtn">Create</button>
    </div>
</div>