
{{JSON task}}
<!-- 
    TODO: Need to Bind task fields to appropriate inputs for edit. 
    TODO: Need to change action URL if task exists = /task/[id]
    TODO: Need to change method to PUT if task exists
    -->
<form name="task" action="/tasks/create" method="POST">
    <div class="grid-x">
        <div class="cell">
            <div class="input-group">
                <span class="input-group-label">Title</span>
                <input class="input-group-field" type="text" name="title" id="taskTitleInput">
            </div>
        </div>
        <div class="cell">
            <div class="input-group">
                <span class="input-group-label">Description</span>
                <input class="input-group-field" type="text" name="description" id="taskDescrInput">
            </div>
        </div>
        <div class="cell">
            <fieldset class="fieldset" id="taskPriorityFieldset">
                <legend>Choose a Priority Level</legend>
                <input id="priLvlVyLow" type="radio" name="priorityLvl" value="1"><label for="priLvlVyLow">Very
                    Low</label>
                <input id="priLvlLow" type="radio" name="priorityLvl" value="2"><label for="priLvlLow">Low</label>
                <input id="priLvlMed" type="radio" name="priorityLvl" value="3"><label for="priLvlMed">Medium</label>
                <input id="priLvlHigh" type="radio" name="priorityLvl" value="4"><label for="priLvlHigh">High</label>
                <input id="priLvlUrg" type="radio" name="priorityLvl" value="5"><label for="priLvlUrg">Urgent</label>
            </fieldset>
        </div>
        <input type="hidden" id="dateTaskCreated" name="dateCreated"></input>
        <div class="cell">
            <button class="button large" type="submit" id="createTaskBtn">Create</button>
        </div>
    </div>
</form>
<script type="text/javascript" src="/js/task-page.build.js"></script>