<div class="grid-x">

    <div class="cell">
        <div class="grid-container">
            <div class="grid-y" style="height: 100%;">
                <div class="cell">
                    work timer
                </div>
                <div class="cell">
                    rest timer
                </div>
                <div class="cell">
                    <div class="grid-x">
                        timer controls
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>