<div class="grid-x container-full">
    <div class="cell">
        <button class="button large expanded">Create a New Task!</button>
    </div>
    <div class="cell">
        {{> taskList page }}
    </div>
    <div class="cell">
        {{> completedTasks }}
    </div>
</div>