<form name="user" action="/user/register" method="POST" style="margin-top: 45px;">
    <div class="grid-container">
        <div class="card regCard grid-x grid-padding-x grid-margin-x text-left">

            <div class="cell card-section">
                <label for="name" class="middle regLabel">Your Name
                    <input name="name" type="text" id="name" placeholder="Jane Doe">
                </label>
            </div>

            <div class="cell card-section">
                <label for="email" class="middle regLabel">Email
                    <input name="email" type="email" id="email" placeholder="email@example.com">
                </label>
            </div>

            <div class="cell card-section">
                <label for="confirmEmail" class="middle regLabel">Confirm Email
                    <input name="confirmEmail" type="email" id="confirmEmail" placeholder="email@example.com">
                </label>
            </div>

            <div class="cell card-section">
                <label for="password" class="middle regLabel">Password
                    <input name="password" type="password" id="password" placeholder="">
                </label>
            </div>

            <div class="cell card-section">
                <label for="confirmPassword" class="middle regLabel">Confirm Password
                    <input name="confirmPassword" type="password" id="confirmPassword" placeholder="">
                </label>
            </div>

        </div>
        <button class="button large expanded" type="submit">Submit</button>
    </div>
</form>