<div class="grid-x align-center-middle text-center grid-padding-y">
    <div class="cell">
        <h1>Task Management</h1>
    </div>
    <div class="cell">
        {{> taskList pendingTasks }}
    </div>
    <div class="cell">
        {{> completedTasks completedTasks }}
    </div>
</div>