body {
    background-image: $body-background-img;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

p {
    font-family: "Bellota Text", sans-serif;
    font-size: 20px;
}