#pendingTasksGrid {
  margin-top: 30px;
  margin-bottom: 30px;
}

.tasksBtnsCell {
  margin: 20px;
}

.currentTaskGrid {
  width: 75%;
  margin: auto;

  .currentTskCard {
    background-color: $dark-gray;
    color: $light-gray;
    border-color: $black;
    margin-bottom: 70px;

    .currentTaskLabel {
      font-family: "Advent Pro", sans-serif;
      font-size: 50px;
      text-shadow: 2px 2px 5px black;
    }

    .currentTitle {
      background-color: $black;
      padding: 30px 15px;

      .activeTitleDisp {
        text-align: center;
        width: 100%;
        font-family: "Merienda", cursive;
        font-size: 45px;
      }
    }
  }
}
.pendingHeading {
  font-size: 45px;
  font-weight: 500;
  color: $light-gray;
  text-shadow: 3px 4px 8px black;
}

.taskCard {
  .taskCardTitle {
    font-size: 30px;
    padding-left: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
    font-family: "Merienda", cursive;
  }

  .editBtn {
    padding: 12px 10px 20px 20px;
    box-shadow: 3px 4px 5px black, 
      inset -1px -2px 2px rgba(255, 255, 255, 0.3),
      inset 3px 4px 5px rgba(255, 255, 255, 0.5);
  }

  .taskDates {
    font-size: 22px;
  }
}
