
#pendingTasksGrid {
    margin-top: 30px;
    margin-bottom: 30px;
}

.tasksBtnsCell {
    margin: 20px
}

.currentTskCard{
    background-color: $dark-gray;
    color: $light-gray;
    border-color: $black;
    padding-top: 15px;
    .currentTitle {
        background-color: $black;
        padding: 30px 15px;
    .activeTitleDisp {
        text-align: center; 
        width: 100%;
    }
    }
}
