$success: map-get($foundation-palette, 'success');
$alert: map-get($foundation-palette, 'alert');
$wrapper-bg-color: rgba(0, 0, 0, 0.6);


.switchWrap{
  border-radius: 5000px;
  background-color: $wrapper-bg-color;
  padding: 15px;
  margin-top: 15px;
  .switch {
    margin-bottom: 0px;
    font-family: 'Bellota Text', sans-serif;
    text-shadow: 1px 2px 3px black;
  }
}


.timerCtrlWrap {
  border-radius: 25px;
  background-color: $wrapper-bg-color;
  padding: 20px 30px;
  margin-bottom: 10px;

  .timerCtrl {
    padding: 30px 50px;
    margin: 10px;
    color: $black !important;
  }
}

#timerCell {
  margin-bottom: 30px;

  .timer-group {
    position: relative;
    top: 30px;
    width: 300px;
    margin: 10px auto 0px auto;

    .timerWrap {
      fill: $wrapper-bg-color;
    }

    .face {
      fill: $black;
      stroke: #b6b6b6;
      &.minutes {
        stroke-width: 17px;
      }
      &.seconds {
        stroke-width: 3px;
      }
    }
    
    .hand {
      fill: none;
      &.minutes {
        stroke-width: 17px;
        stroke: $success;
      }
      &.seconds {
        stroke-width: 3px;
        stroke: $alert;
      }
    }

    .timerDisplay {
      position: absolute;
      left: 75px;
      top: 105px;
      text-align: center;
      .display-remain-time {
        font-family: 'Baumans', sans-serif;
        font-weight: 100;
        font-size: 65px;
        color: $light-gray;
      }
    }
  }
}




