<!DOCTYPE html>
<html lang="en">

{{> head }}

<body>
    <div class="off-canvas-wrapper">
        <!--Nav off-canvas menu-->
        <div class="off-canvas position-left offCvsDiv" id="offCanvasNavL" data-off-canvas>
            <!-- Close button -->
            <button class="close-button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
            <!-- Menu -->
            <ul class="vertical menu">
                <li><a href="#">Account</a></li>
                <li><a href="#">Manage Tasks</a></li>
                <li><a href="#">Something Else</a></li>
                <li><a href="#">Log Out</a></li>
            </ul>
        </div>

        <!--Settings off-canvas -->
        <div class="off-canvas position-right offCvsDiv" id="offCanvasSettingsR" data-off-canvas>
            <!-- Close button -->
            <button class="close-button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
            <!-- Menu -->
            {{> settingsForm }}

            {{!-- <ul class="vertical menu">
                <li><a href="#">Alarm Volume</a></li>
                <li><a href="#">Alarm Sound</a></li>
                <li><a href="#">Visual Effects</a></li>
                <li><a href="#">Work Time</a></li>
                <li><a href="#">Break Time</a></li>
            </ul> --}}
        </div>

        <!--Body Content -->
        <div class="off-canvas-content" data-off-canvas-content>
            <!-- Your page content lives here -->
            {{> header }}
            {{{body}}}

        </div>
    </div>


    <script src="/js/global.build.js"></script>
    {{#if (equals settings.env 'development')}}
    <script src={{refresh}}></script>
    {{/if}}
</body>

</html>