<!DOCTYPE html>
<html lang="en">

{{> head }}

<body>
    <div class="off-canvas-wrapper">
        <!--Nav off-canvas menu-->
        <div class="off-canvas position-left offCvsDiv" id="offCanvasNavL" data-off-canvas>
            <!-- Close button -->
            <button class="close-button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
            <!-- Menu -->
            <div class="vertical menu grid-x grid-margin-x grid-padding-x align-center-middle text-center">
                {{!-- <div class="cell navMenuLinks acct"><a href="#">Account</a></div> --}}
                <div class="cell navMenuLinks dash"><a href="/"><i class="fas fa-stopwatch fa-lg"></i> &nbsp; Dashboard</a></div>
                <div class="cell navMenuLinks sear"><a href="/tasks"><i class="fas fa-search fa-lg"></i> &nbsp; Search Tasks</a></div>
                <div class="cell navMenuLinks logt"><a href="#"><i class="fas fa-sign-out-alt fa-lg"></i> &nbsp; Log Out</a></div>
            </div>
        </div>

        <!--Settings off-canvas -->
        <div class="off-canvas position-right offCvsDiv" id="offCanvasSettingsR" data-off-canvas>
            <!-- Close button -->
            <button class="close-button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
            <!-- Menu -->
            {{> settingsForm user }}

        </div>

        <!--Body Content -->
        <div class="off-canvas-content" data-off-canvas-content>
            <!-- Your page content lives here -->
            {{> header }}
            {{{body}}}

        </div>
    </div>


    <script src="/js/global.build.js"></script>
    {{#if (equals settings.env 'development')}}
    <script src={{refresh}}></script>
    {{/if}}
</body>

</html>