@import 'base/base';

@import 'layout/header';

@import 'layout/timer';

@import 'layout/taskList';

.button {
    box-shadow: 2px 3px 5px 3px rgba($dark-gray, 0.5);
}

.offCvsDiv {
    text-align: center;
    padding: 50px 20px;
    width: 30%;
}

.setgMenuLabel {
    font-size: 18px;
    font-weight: 600;
}

.setgMenuCell{
    padding: 15px;
    margin: 10px;
}